Host liven.gitlab.com
    Hostname gitlab.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id_ed25519

Host personal.gitlab.com
    Hostname gitlab.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/gitlab_personal

Host liven.github.com
    Hostname github.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id_ed25519

Host personal.github.com
    Hostname github.com
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github_personal
