@import url("colors.css");

window {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 14px;
    margin: 0px;
    border: 5px solid @bg_color;
    background-color: @bg_color;
    color: @fg_color;
    border-radius: 6px;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 8px;
    border: none;
    font-weight: bold;
    background-color: @input_bg_color;
    color: @input_fg_color;
    border-color: @input_bg_color;
    outline: none;
    border-radius: 6px;
    margin-bottom: 2px;
}
#input:focus {
    border-color: @focus_color;
}

#inner-box {
    margin: 4px;
    border-radius: 12px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 16px;
}

#scroll {
    margin-top: 10px;
    border: none;
    border-radius: 16px;
    margin-bottom: 4px;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 0px 0px 6px;
    padding: 3px 8px 2px 4px;
}

#img:selected {
    background-color: @hover_color;
}

#text {
    padding: 2px;
    margin-left: 8px;
}

#text:selected {
    border-radius: 15px;
}

#entry {
    margin: 4px 0px;
    padding: 0px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
}

#entry:selected {
    background-color: @selected_bg_color;
    outline: none;
}

#entry:selected #text {
    font-weight: bold;
    color: @selected_fg_color;
}
