@import url("colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: alpha(@bg_color, 0);
    color: @fg_color;
}

tooltip {
    background: @tooltip_bg_color;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    border-color: @tooltip_border_color;
}

#workspaces button {
    padding: 5px;
    color: @fg_dim_color;
    margin-right: 5px;
}

#workspaces button.active {
    color: @workspace_active_color;
}

#workspaces button.focused {
    color: @workspace_focused_fg_color;
    background: @workspace_focused_bg_color;
    border-radius: 6px;
}

#workspaces button.urgent {
    color: @workspace_urgent_fg_color;
    background: @workspace_urgent_bg_color;
    border-radius: 6px;
}

#workspaces button:hover {
    background: @fg_hover_color;
    color: @fg_color;
    border-radius: 6px;
}

#cpu,
#memory,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#mpris,
#backlight {
    background: @bg_color;
    opacity: 0.8;
    padding: 0px 6px;
    margin: 3px 0px;
    margin-top: 6px;
    border: 1px solid @border_color;
}

#tray {
    border-radius: 6px;
    margin-right: 6px;
}

#workspaces {
    background: @bg_color;
    border-radius: 6px;
    margin-left: 8px;
    padding-right: 0px;
    padding-left: 5px;
}

#clock {
    color: @clock_color;
    border-radius: 6px;
    margin-left: 6px;
    margin-right: 8px;
}

#pulseaudio {
    color: @pulseaudio_color;
    border-left: 0px;
    border-radius: 6px 0px 0px 6px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @mic_color;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 6px 6px 0px;
}

#cpu {
    color: @cpu_color;
    border-radius: 0 6px 6px 0;
    margin-right: 6px;
    border-left: 0px;
}

#memory {
    color: @memory_color;
    border-radius: 6px 0px 0px 6px;
    margin-right: 0px;
    border-right: 0px;
}

#mpris {
    color: @mpris_color;
    border-radius: 6px;
}

#mpris > small {
    color: @fg_color;
}
