$mainMod = SUPER

source = ./colors.conf

# Monitors
{{- if eq .pcType "laptop" }}
monitor = eDP-1,preferred,auto,1

# Workspace bindings to monitors
workspace = 1,  monitor:eDP-1, default:true
workspace = 2,  monitor:eDP-1
workspace = 3,  monitor:eDP-1
workspace = 4,  monitor:eDP-1
workspace = 5,  monitor:eDP-1
workspace = 6,  monitor:eDP-1
workspace = 7,  monitor:eDP-1
workspace = 8,  monitor:eDP-1
workspace = 9,  monitor:eDP-1
workspace = 10, monitor:eDP-1
{{- else }}
monitor = DP-3,1920x1080@144,4480x360,1
monitor = DP-2,2560x1440@165,1920x0,1
monitor = HDMI-A-1,1920x1080@60,0x360,1

# Workspace bindings to monitors
workspace = 1,  monitor:DP-3, default:true
workspace = 2,  monitor:DP-3
workspace = 3,  monitor:DP-3
workspace = 4,  monitor:DP-3
workspace = 5,  monitor:DP-3
workspace = 6,  monitor:DP-3
workspace = 7,  monitor:DP-3
workspace = 8,  monitor:DP-3
workspace = 9,  monitor:DP-3
workspace = 10, monitor:DP-3
workspace = 11, monitor:DP-2
workspace = 12, monitor:DP-2
workspace = 13, monitor:DP-2
workspace = 14, monitor:DP-2
workspace = 15, monitor:DP-2
workspace = 16, monitor:DP-2
workspace = 17, monitor:DP-2
workspace = 18, monitor:DP-2
workspace = 19, monitor:DP-2
workspace = 20, monitor:DP-2
{{- end }}

# Input
input {
    kb_layout = us
    kb_variant = intl
    repeat_rate = 50
    repeat_delay = 250
    follow_mouse = 1
    sensitivity = -1.0
}

env = HYPRCURSOR_THEME,Bibata-Modern-Ice
env = HYPRCURSOR_SIZE,20
env = QT_QPA_PLATFORMTHEME,qt6ct

# General
general {
    gaps_in = 8
    gaps_out = 8
    border_size = 2
    layout = dwindle
    col.active_border = $active_border_color
    col.inactive_border = $inactive_border_color
}

misc {
    disable_hyprland_logo = true
    force_default_wallpaper = 0
    disable_splash_rendering = true
    animate_manual_resizes = true
    middle_click_paste = false
    focus_on_activate = true
    anr_missed_pings = 10
}

decoration {
    rounding = 6
    blur {
        enabled = true
        size = 2
        passes = 1
    }
    shadow {
        enabled = false
    }
}

animations {
    enabled = true
    bezier = myBezier, 0.05, 0.9, 0.1, 1.05
    animation = windows,     1, 7,  myBezier
    animation = windowsOut,  1, 7,  default, popin 80%
    animation = border,      1, 10, default
    animation = borderangle, 1, 8,  default
    animation = fade,        1, 7,  default
    animation = workspaces,  1, 6,  default
}

dwindle {
    pseudotile = true
    preserve_split = true
}

debug {
    disable_logs = false
}

# Startup
exec-once = wl-gammarelay-rs
exec-once = hyprpanel
exec-once = fcitx5 -d -r
exec-once = fcitx5-remote -r
exec-once = [workspace 1 silent] firefox
{{- if ne .pcType "laptop" }}
exec-once = [workspace 20 silent] pear-desktop
{{- end }}

# Window rules
windowrule = float,title:^(Picture in picture)$
windowrule = pin,title:^(Picture in picture)$
windowrule = size 560 315,title:^(Picture in picture)$
windowrule = move 100%-w-10 100%-w-10,title:^(Picture in picture)$

windowrule = workspace 1 silent, class:^(brave-browser)$, title:^(Brave: Main)$
{{- if ne .pcType "laptop" }}
windowrule = workspace 11 silent, class:^(brave-browser)$, title:^(Brave: Secondary)$
{{- end }}

windowrule = float,title:^(Picture-in-Picture)$
windowrule = pin,title:^(Picture-in-Picture)$
windowrule = size 560 315,title:^(Picture-in-Picture)$
windowrule = move 100%-w-10 100%-w-10,title:^(Picture-in-Picture)$

windowrule = float,title:^(Torrent Options)$
windowrule = workspace 5 silent, class:^(transmission-gtk)$, title:^(Transmission)$

{{- if ne .pcType "laptop" }}
windowrule = workspace 18 silent, class:^(Waydroid)$, title:^(Waydroid)$
{{- end }}
windowrule = float, class:^(Waydroid)$, title:^(Waydroid)$
windowrule = size 475 770, class:^(Waydroid)$, title:^(Waydroid)$

windowrule = float,class:^(steam)$,title:^(Friends List)$
windowrule = minsize 1 1,class:^(steam)$

windowrule = size 950 760,class:^(Godot)$,title:^(Create New Node)$
windowrule = center 1,class:^(Godot)$,title:^(Create New Node)$

windowrule = float,title:^(satty)$
windowrule = size 75% 75%,title:^(satty)$
windowrule = center 1,title:^(satty)$

windowrule = float,class:^(special.*)$
windowrule = size 50% 75%,title:^(special.*)$
windowrule = center 1,title:^(special.*)$
windowrule = animation popin,title:^(special.*)$

windowrule = opacity 0.9,class:(com.github.th_ch.youtube_music)

# Keybinds
bind = $mainMod, RETURN, exec, kitty
bind = $mainMod, Q, killactive,
bind = $mainMod SHIFT, Q, exec, hyprctl kill
bind = $mainMod, Semicolon, exec, hyprlock
bind = $mainMod, BACKSPACE, exec, wlogout --protocol layer-shell
bind = $mainMod SHIFT, M, exit,
bind = $mainMod, E, exec, kitty -e yazi
bind = $mainMod, F, fullscreen
bind = $mainMod, S, pin
bind = $mainMod SHIFT, E, exec, wofi-emoji
bind = $mainMod SHIFT, SPACE, togglefloating,
bind = $mainMod, D, exec, wofi
bind = $mainMod, T, togglesplit,

bind = ,121, exec, pamixer -t
bind = ,122, exec, pamixer -d 5 --allow-boost
bind = ,123, exec, pamixer -i 5 --allow-boost
bind = $mainMod, SLASH, exec, pamixer --default-source -t
bind = ,232, exec, brightnessctl set 10%-
bind = ,233, exec, brightnessctl set 10%+
bind = ,Print, exec, hyprshot --mode region --raw | satty --early-exit --copy-command wl-copy -f -

bind = ,172, exec, playerctl -p YoutubeMusic play-pause
bind = ,171, exec, playerctl -p YoutubeMusic next

bind = $mainMod, H, movefocus, l
bind = $mainMod, J, movefocus, d
bind = $mainMod, K, movefocus, u
bind = $mainMod, L, movefocus, r

bind = $mainMod SHIFT, H, swapwindow, l
bind = $mainMod SHIFT, J, swapwindow, d
bind = $mainMod SHIFT, K, swapwindow, u
bind = $mainMod SHIFT, L, swapwindow, r

bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace, 10

bind = $mainMod SHIFT, 1, movetoworkspacesilent, 1
bind = $mainMod SHIFT, 2, movetoworkspacesilent, 2
bind = $mainMod SHIFT, 3, movetoworkspacesilent, 3
bind = $mainMod SHIFT, 4, movetoworkspacesilent, 4
bind = $mainMod SHIFT, 5, movetoworkspacesilent, 5
bind = $mainMod SHIFT, 6, movetoworkspacesilent, 6
bind = $mainMod SHIFT, 7, movetoworkspacesilent, 7
bind = $mainMod SHIFT, 8, movetoworkspacesilent, 8
bind = $mainMod SHIFT, 9, movetoworkspacesilent, 9
bind = $mainMod SHIFT, 0, movetoworkspacesilent, 10

bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow
