[Unit]
Description=mpvpaper wallpaper on DP-2
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=mpvpaper -o "input-ipc-server=%t/mpvpaper-dp2.sock no-audio --loop-file=100 --reset-on-next-file=loop-file --loop-playlist shuffle --profile=fast" DP-2 %h/videos/wallpapers/landscape/
Restart=on-failure
TimeoutStopSec=5

[Install]
WantedBy=graphical-session.target
