[Unit]
Description=Periodically check the wallpaper video for theme changes

[Timer]
OnBootSec=15s
OnUnitActiveSec=30s

[Install]
WantedBy=timers.target
